form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
  font: 10px arial;
}

a.btn {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

a{
  color:blue;
}

body {
  font: 15px arial;
}

h2{
  margin-left: 1em;
  font-size: 28px;
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;}.w3-wide{letter-spacing:4px}

p{
  margin-left: 1em;
}

div.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
br.long {
       line-height: 150%;
    }

h1{
  margin-left: 1em;
  margin-top: 1em;
  font-size: 36px;
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;}.w3-wide{letter-spacing:4px}

svg.legend{
  font: 20px arial;
}


.node-value {
  font-weight: normal;
}

.btn-group{
  margin-left: 3em;
  margin-top: 3em;
}
.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

.btn-group .buttonsel:hover {
    background-color: #3e8e41;
}

#total{
  padding-top: 10px;
  text-indent: 100px;
  font-weight: normal;
  font-size: 20px;
}

.btn-group .buttonsel {
  background-color: #4CAF55; /* Green */
  border: 5px solid black;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
